@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: "inter";
    color: white; 
}

body {
    min-height: 100vh;
    background: rgb(30,29,30);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav li {
    display: flex;
    padding: 0 80px;
}
.header {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}
.header-left {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.header-left-container h1 {
    margin: 10px 0;
    font-size: 3.5rem;
}
.header-left-container h3 {
    margin: 10px 0;
    color: rgb(71, 76, 255);
}
.header-left-container p {
    font-size: 0.8rem;
}
.header-right {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}
#modem {
    width: 100%;
}
.infos {
    background-color: rgb(14, 21,14);
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.infos-left {
    display: flex;
    margin: 10px;
    flex-direction: column;
    padding: 0;
}
.infos-left h3 {
    padding: 10px;
    margin: 10px;
}
.btn-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
button {
    margin: 10px;
    font-size: 1rem;
    font-style: bold;
    margin: 5px 0;
    border-radius: 10px;
    height: 35px;
    background-color: rgb(71, 76, 225);
}
.infos-right {
    display: flex;
    flex-direction: column;
}
.infos-right h3 {
    padding: 10px;
    margin: 20px;
}
.investors {
    display: flex;
    margin: 20px;
}
.img-container {
    display: flex;
    align-items: center;
}
.img-container img {
    display: flex;
    height: 70px;
    padding: 20px 100px;
}